{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}flocks{% endblock %}


{% block content %}

            {% include 'partial/_flock_form.html' %}

    <body class="bg-light">

    <div class="card mb-3 mt-3">
        <div class="card-body">
            <h1> List of all flocks </h1>
        </div>
    </div>
    {% for flock in flock_list %}
        <div class="card mb3">
            <div class="row">
                <div class="col-9">
                    <div>
                        <div class="card-body mb-3">
                            <h5 class="card-title">{{ flock.name }}</h5>
                            <p class="card-text">Number of birds in flock: {{ flock.birds_count }}</p>
                            <p class="card-text">Breed of birds {{ flock.breed }}</p>
                            <p class="card-text">Notes for this flock: {{ flock.notes }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-3 card-body  ">
                    <div class="btn-group-vertical ">
                        <a href="{% url 'home:flock-delete' pk=flock.pk %}" class="btn btn-outline-danger m-3 ">Remove</a>
                        <a href="{% url 'home:flock-update' pk=flock.id %}" class="btn btn-outline-success m-3">Modify</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    {% empty %}
        <div class="card mb-3">
            <div class="card-body">
                <h5> No flocks in database yet. Pleas add one below </h5>
            </div>
        </div>
    {% endfor %}
    </body>
{% endblock %}