{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}flocks{% endblock %}

{% block content %}
    <body class="bg-light">
    <div class="card mb-3">
        <div class="card-body">
            <h1> List of all flocks </h1>
        </div>
    </div>
    {% for flock in flock_list %}
        <div class="card mb3">
            <div class="row">
                <div class="col-9">
                    <div>
                        <div class="card-body">
                            <h5 class="card-title">{{ flock.name }}</h5>
                            <p class="card-text">Number of birds in flock: {{ flock.birds_count }}</p>
                            <p class="card-text">Breed of birds {{ flock.breed }}</p>
                            <p class="card-text">Notes for this flock: {{ flock.notes }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-3 card-body">
                    <div class="btn-group-vertical">
                        <a href="#" class="btn btn-light">Remove</a>
                        <a href="#" class="btn btn-light">Modify</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    {% empty %}
        <div class="card mb-3">
            <div class="card-body">
                <h5> No flocks in database yet. Pleas add one below </h5>
            </div>
        </div>
    {% endfor %}


        <div class="card-body mb-3" >
            <div class="card-header mb-3" style="height: 75px; margin: 8px; align-content: center">
                <h1>Add a new flock</h1>
            </div>
        </div>

            <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-primary" type="submit" value="Submit">
            </form>
    

    </body>
{% endblock %}