{% extends 'base.html' %}
{% load static %}
{% block title %}home{% endblock %}

{% block script %}

{% endblock %}

{% block content %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
     <script>

    $(function () {
      const $eggChart = $("#egg-chart");
      $.ajax({
        url: $eggChart.data("url"),
        success: function (data) {

          const ctx = $eggChart[0].getContext("2d");

          new Chart(ctx, {
            type: 'bar',
            data: {
              labels: data.labels,
              datasets: [{
                label: 'date',
                backgroundColor: 'blue',
                data: data.data
              }]
            },
            options: {
              responsive: true,
              legend: {
                position: 'top',
              },
              title: {
                display: true,
                text: 'Egg Bar Chart'
              }
            }
          });

        }
      });

    });

  </script>



<div class="container">
<div class="row ">
  <div class="col-sm-4 ">
    <div class="card">
      <div class="card-body">
        <div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item d-flex align-items-md-center">Flock name:   <strong class="align-self-sm-end">{{ flock.name }}</strong></li>
    <li class="list-group-item">Bird count:   {{ flock.birds_count }}</li>
    <li class="list-group-item">% of birds lying eggs  {{ bird_laying}}</li>
  </ul>
</div>
      </div>
    </div>
  </div>
  <div class="col-sm-8 ">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Eggs collected daily over last 30 days </h5>
          <canvas id="egg-chart" data-url="{% url 'home:egg_chart' %}"></canvas>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}