{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BCMS-{% block title %}home{% endblock %}</title>
    {% block styles %}
        <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}">
    {% endblock %}
    {% block script %}
        <script src="{% static 'scripts/bootstrap.min.js' %} " async defer></script>
        <script rel="stylesheet" href="{% static 'styles/main.css' %}"></script>
    {% endblock %}
</head>

            {% include 'partial/_navbar.html' %}


<div class="container mt-5">
    <div class="row">
        <div class="col align-content-stretch">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>

</body>
</html>